footer {
   background: $black; 
   a,
   p {
      color: $white;
   }
   .contactSocial,
   p {
      text-align: center;
      padding: 10px;
   }
   a {
      padding: 10px;
      transition: .2s ease-in-out;
      &:hover {
         color: $blue;
      }
      &:active {
         color: $peach;
      }
      &:focus {
         border: 1px dotted $peach;
      }
   }
   p {
      margin: 0;
   }

   .copyright p {
      padding-bottom: 35px;
   }
}

.contact {
   @include flexbox(row, nowrap);
   justify-content: space-around;
   align-items: center;
   padding: 40px 0;
}

.contactMenu li {
   padding: 10px 0;
}

.contactSocial li {
   padding: 19px 0;
   font-size: 2.2rem;
}