header {
   background: url('../../assets/headerBackground.jpg') no-repeat;
   background-size: cover;
   height: 100vh;
}

.mainMenu {
   background: $white;
   padding: 15px 0;
}

.mainMenu nav {
   @include flexbox(row, wrap);
   justify-content: space-between;
   ul {
      @include flexbox(row, wrap);
      a {
         transition: .2s ease-in-out;
         &:hover {
            border-bottom: 3px solid $peach;
         }
         &:active {
            border: 1px dotted $peach;
         }
         &:focus {
            color: $peach;
         }
      }
   }
}

.siteNav li {
   margin-right: 10px;
   a {
      padding: 10px 20px;
      &:first-of-type {
         margin-left: -20px;
      }
   }
}

.shopperDetails li {
   margin-left: 15px;
   a {
      padding: 10px;
      &:last-of-type {
         margin-right: -10px;
      }
   }
}

.title {
   color: $white;
   transform: translateY(10%);
   h1 {
      font-size: 11rem;
      margin-bottom: 25px;
      span {
         display: block;
      }
   }
   h2 {
      font-size: 3.5rem;
      margin: 0;
   }
}