header {
   background: url('/assets/headerBackground.jpg') no-repeat;
   background-size: cover;
   height: 100vh;
}

// Navigation Menu
.mainMenuBanner {
   background: $white;
   padding: 15px 0;
}

.mainMenu {
   @include flexbox(row, wrap);
   justify-content: space-between;
   align-items: center;
   ul {
      @include flexbox(row, wrap);
      a {
         transition: .2s ease-in-out;
         &:hover {
            border-bottom: 3px solid $peach;
         }
         &:active {
            border: 1px dotted $peach;
         }
         &:focus {
            color: $peach;
         }
      }
   }
}

.siteNav li {
   margin-right: 10px;
   a {
      padding: 10px 20px;
      &:first-of-type {
         margin-left: -20px;
      }
   }
}

.cartInfo {
   border: 2px solid $black;
   border-radius: 5px;
   padding: 5px 10px;
   transition: all .2s ease-in-out;
   a {
      font-family: $headingFont;
      i {
         padding-right: 15px;
      }
   }
   &:hover {
      background: $peach;
   }
   &:active {
      border: 2px dotted $grey;
   }
   &:focus {
      border: 2px dashed $black;
   }
}

// Main Heading
.title {
   color: $white;
   transform: translateY(10%);
   h1 {
      font-size: 11rem;
      margin-bottom: 25px;
      span {
         display: block;
      }
   }
   h2 {
      font-size: 3.5rem;
      margin: 0;
   }
}

// Shopping Cart Modal
.cart {
   font-family: $headingFont;
   background: $white;
   position: absolute;
   top: 65px;
   right: -465px;
   padding: 40px 60px 80px 60px;
   transition: all .3s ease-in-out;
   .cartItemContainer,
   .cartTotalContainer {
      @include flexbox(row, nowrap);
      align-items: center;
   }
   .cartItemContainer {
      padding: 0 20px;
      .cartItemText {
         width: 65%;
      }
      .cartItemQuantity {
         width: 25%;
      }
      input {
         width: 40px;
         background: $white;
         border: none;
      }
      .removeFromCart {
         width: 10%;
      }
   }
   .cartItemTitle {
      font-size: 2.1rem;
   }
   .removeFromCart i {
      font-size: 3rem;
      color: $peach;
      &:hover {
         color: $blue;
      }
      &:active {
         color: $grey;
      }
      &:focus {
         border: 1px dotted $grey;
      }
   }
   .cartTotalContainer,
   .cartButtonsContainer {
      font-size: 2.3rem;
   }
   .cartTotalContainer {
      padding: 25px 0;
      justify-content: space-around;
   }
   .cartButton {
      border: 2px solid $black;
      border-radius: 5px;
      padding: 10px;
      text-transform: uppercase;
      transition: .2s ease-in-out;
      &:hover {
      background: $peach;
      }
      &:active {
         border: 2px dotted $grey;
      }
      &:focus {
         border: 2px dashed $black;
      }
   }
}

.showCart {
   right: 0;
}

.cartInfoOpen {
   background: $peach;
}