.recipes {
   background: $grey;
   .recipesForFlex {
      @include flexbox(row, wrap);
      .recipeContainer {
         width: calc(33% - 20px);
         margin: 10px;
      }
      img {
         max-height: 193px;
         object-fit: cover;
      }
   }
}