article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.2px;
  color: #222;
  background: #F4F0E5;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

h1, h2, h3, .siteNav a {
  font-family: "Yeseva One", cursive;
}

h1, h2, .siteNav a {
  text-transform: lowercase;
}

h2 {
  margin-top: 0;
  font-size: 3.3rem;
}

h3 {
  font-size: 2.4rem;
  background: #EFB0A1;
  text-align: center;
  padding: 15px 0;
}

.about,
.shop,
.recipes {
  padding: 75px 0;
}

.shopItemDescription,
.recipeContainer {
  text-align: center;
}

.shopItemDescription h4,
.recipeContainer h4 {
  font-size: 2rem;
  margin-bottom: 0;
}

.shopItemDescription p,
.recipeContainer p {
  padding-bottom: 20px;
}

.shop a,
.recipes a {
  background: #A8DCD1;
  border: 2px solid #A8DCD1;
  border-radius: 5px;
  padding: 10px 20px;
}

.shop a:hover,
.recipes a:hover {
  background: #EFB0A1;
  border: 2px solid #EFB0A1;
}

.shop a:active,
.recipes a:active {
  border: 2px dotted #A8DCD1;
}

.shop a:focus,
.recipes a:focus {
  border: 2px dashed #A29D9C;
}

header {
  background: url("../../assets/headerBackground.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.mainMenu {
  background: #F4F0E5;
  padding: 15px 0;
}

.mainMenu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainMenu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mainMenu nav ul a {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.mainMenu nav ul a:hover {
  border-bottom: 3px solid #EFB0A1;
}

.mainMenu nav ul a:active {
  border: 1px dotted #EFB0A1;
}

.mainMenu nav ul a:focus {
  color: #EFB0A1;
}

.siteNav li {
  margin-right: 10px;
}

.siteNav li a {
  padding: 10px 20px;
}

.siteNav li a:first-of-type {
  margin-left: -20px;
}

.shopperDetails li {
  margin-left: 15px;
}

.shopperDetails li a {
  padding: 10px;
}

.shopperDetails li a:last-of-type {
  margin-right: -10px;
}

.title {
  color: #F4F0E5;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.title h1 {
  font-size: 11rem;
  margin-bottom: 25px;
}

.title h1 span {
  display: block;
}

.title h2 {
  font-size: 3.5rem;
  margin: 0;
}

.about p {
  line-height: 1.4;
}

.galleryCell {
  width: 700px;
  height: 450px;
}

.shopCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.shopItemContainer {
  width: calc(25% - 16px);
  margin: 25px 8px;
}

.shopItemContainer .shopItemImage img {
  max-height: 132px;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipes {
  background: #A29D9C;
}

.recipes .recipesForFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.recipes .recipesForFlex .recipeContainer {
  width: calc(33% - 20px);
  margin: 10px;
}

.recipes .recipesForFlex img {
  max-height: 218px;
}

footer {
  background: #222;
}

footer a,
footer p {
  color: #F4F0E5;
}

footer .contactSocial,
footer p {
  text-align: center;
  padding: 10px;
}

footer a {
  padding: 10px;
}

footer a:hover {
  color: #A8DCD1;
}

footer a:active {
  color: #EFB0A1;
}

footer a:focus {
  border: 1px dotted #EFB0A1;
}

footer p {
  margin: 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.contactMenu li {
  padding: 10px 0;
}

.contactSocial li {
  padding: 19px 0;
  font-size: 2.2rem;
}
/*# sourceMappingURL=style.css.map */